



.img-header{
  background-image: url(BackgroundImage.png);
}

.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.textnav{
    text-align: center;
}
.img-fluid{
    width:100%;
   
}

#fond {
    background:url() no-repeat;
    width:300%;
    height:200%;
    }
   */ 
    #contenu {
     width:100px;
    background-color: rgb(1, 1, 14);
    z-index:10;  text-align: center;
    position:relative;
    top:0;
    left:0;
 
    }

      body {
        margin: 0;
      }
      
      .no-css-link {
        text-decoration: none;
        color: inherit;
      }
      
      .txt-container{
        width: 100%;
        height: 600px;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      
      }
      .textstyle{
          color: #fff;
      }
      P{
          color: #fff;
      }
      .txt-center{
          text-align: center;
      }
      .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
      }
      section{
        margin-left: auto;
        margin-right: 1;
        width:80%;
      }
     .tableau-style{
       border: 0px;
     }
     table tr td{
       padding: 3;
     }
     .avatar-center{
       align-items: center;
     }
     .avatar {
       text-align: center;
      vertical-align: middle;
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
   
      .container,
      .container-fluid,
      .container-xl,
      .container-lg,
      .container-md,
      .container-sm {
        width: 100%;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        margin-right: auto;
        margin-left: auto;
      }
      .text-center {
        text-align: center !important;
      }
      .timeline > li .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      .timeline > li .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
      .timeline > li .timeline-image {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 80px;
        height: 80px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 7px solid #e9ecef;
        border-radius: 100%;
        background-color: #05cdf7;
      }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
      }
      .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 20px 0 100px;
        text-align: left;
      }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
      .timeline > li:last-child {
        margin-bottom: 0;
      }
      .timeline .timeline-heading h4 {
        margin-top: 0;
        color: inherit;
      }
      .timeline .timeline-heading h4.subheading {
        text-transform: none;
      }
      .timeline .timeline-body > ul,
      .timeline .timeline-body > p {
        margin-bottom: 0;
      }
      
      @media (min-width: 768px) {
        .timeline:before {
          left: 50%;
        }
        .timeline > li {
          min-height: 100px;
          margin-bottom: 100px;
        }
        .timeline > li .timeline-panel {
          float: left;
          width: 41%;
          padding: 0 20px 20px 30px;
          text-align: right;
        }
        .timeline > li .timeline-image {
          left: 50%;
          width: 100px;
          height: 100px;
          margin-left: -50px;
        }
        .timeline > li .timeline-image h4 {
          font-size: 13px;
          line-height: 18px;
          margin-top: 16px;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
          float: right;
          padding: 0 30px 20px 20px;
          text-align: left;
        }
      }
      @media (min-width: 992px) {
        .timeline > li {
          min-height: 150px;
        }
        .timeline > li .timeline-panel {
          padding: 0 20px 20px;
        }
        .timeline > li .timeline-image {
          width: 150px;
          height: 150px;
          margin-left: -75px;
        }
        .timeline > li .timeline-image h4 {
          font-size: 18px;
          line-height: 26px;
          margin-top: 30px;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
          padding: 0 20px 20px;
        }
      }
       .interet img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        box-shadow: 0px 0px 15px #555
     
      }

      .style-sec-contact{
        background-image: url('ctcimage.png');
        background-repeat:initial;
         width: 100%;
        height: 100%;
      }
      .stylecontact{
        color: white;
      }
      #navbar-example2{
        position: relative;
        top: 0;
      }
      .stylefooter{
        text-align: center;
        align-items: center;
      }
      h3{
        text-align: center;
      }